<div class="container">
  <div class="form">
    <form [formGroup]="formdata" (ngSubmit)="submit()">
      <div class="mb-3 col-9">
        <label for="exampleFormControlInput1" class="form-label"><b>Name</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name"
          formControlName="name">
      </div>
      <div class="mb-3 col-9">
        <label for="exampleFormControlInput1" class="form-label"><b>Email address</b></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
          formControlName="email">
      </div>
      <div class="mb-3 col-9">
        <label for="exampleFormControlInput1" class="form-label"><b>Address</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address"
          formControlName="address">
      </div>
      <div class="mb-3 col-9">
        <label for="exampleFormControlInput1" class="form-label"><b>Amount</b></label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="INR"
          formControlName="amount">
      </div>
      <div>
        <div class="button1" *ngIf="button1">
          <button type="submit" class="btn btn-light" style="padding: 10px 20px; color: green;"
            [disabled]="!formdata.valid">Submit</button>&nbsp;&nbsp;
          <button type="reset" class="btn btn-light" style="padding: 10px 20px;color: red;">Reset</button>
        </div>
        <div class="button2" *ngIf="button2">
          <button type="button" class="btn btn-light" style="padding: 10px 20px; color: green;"
            [disabled]="!formdata.valid" (click)="updateUser()">Update</button>&nbsp;&nbsp;
          <button type="reset" class="btn btn-light" style="padding: 10px 20px;color: red;">Reset</button>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="table">
    <div class="mb-3 col-3">
      <input type="text" class="form-control" placeholder="Search"[(ngModel)]="searchTerm">
    </div>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Amount</th>
          <th scope="col">Action</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table | search: searchTerm;  let i = index">
          <th scope="row">{{data.id}}</th>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.address}}</td>
          <td>{{data.amount | currency:"INR"}}</td>
          <td>
            <button class="edit" (click)="editUser(data)" mat-fab color="primary"
              aria-label="Example icon button with a bookmark icon">
              <mat-icon>create</mat-icon>           
            </button>
            </td>
            <td><button (click)="delete(data.id)" class="delete" mat-fab color="accent"
              aria-label="Example icon button with a bookmark icon">
              <mat-icon class="delete">delete</mat-icon>
            </button></td>
          
<!-- 
           <app-header></app-header>
           <app-subject></app-subject> -->